body{
    height: 100vh;
    background: url(/assets/images/bjj_background.jpg) no-repeat center center/cover;
}

.hidden{
    display:none
}
header{
    height: 100px;
}
#game-header{
    height: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
#main-game{
    height: 300px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.game{
    background-color:rgb(251,243,213,0.7);
    align-items: center;
}

.start-menu{
    border: 1px solid black;
    width: 80%;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.start-menu:hover{
    background-color: #007bff;
    color: #ffffff;
}

.start-menu-clicked {
    background-color: #0056b3; 
  }

.belts > img{
    width: 180px;
    max-height: 80px;
}

.belts{
    max-height: 150px;
    border: 0px;
}

.tutorial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(251,243,213);
    padding: 5px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
  }
  .close {
    position: absolute;
    color: #333;
    cursor: pointer;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    background: none;
  }
  @media screen and (min-width: 789px) {
     
    #main-game{
        max-width: 800px;
        height: 400px;
    }
    #game-header{
        max-width: 400px;
    }
    }
    @media screen and (max-width: 789px){
        #game-header{
            max-width: 300px;
        }
    }